@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Tangerine:wght@700&display=swap');


body {
    background: #F4EED4;
    height: 150vh;
}

.div_style {
    display: 'flex';
    align-items: center;
    justify-content: 'center';
    height: 80vh;
    object-fit: cover;
    margin: auto;
    width: 95vw;
    max-width: 95vw;

}

#home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#section-1 {
    text-align: center;
    z-index: 1;
}

#section-1-img {
    width: 100vw;
    height: 65vh;
    object-position: 0 35%;
    object-fit: cover;
    margin-bottom: 30px;

}

.splide_slide.is-active .caption {
    visibility: visible;
}

#intro {
    width: fit-content;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    z-index: 10000;
    font-weight: bold;
    position: absolute;
    top: 30vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#splide {
    z-index: 1;
}

#section-2-img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 30px;
    object-position: 0px 45.5%;

}

#section-2-header {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-bottom: -43vh;
    margin-top: 36vh;
    z-index: 2;
    font-weight: bold;

}

#section-3-img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 30px;
    object-position: 0px 35%;
}

#section-3-header {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-bottom: -43vh;
    margin-top: 36vh;
    z-index: 2;
    font-weight: bold;
}

#section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40em;
    padding: 30px
}

#img-2 {
    width: 50em;
    height: 40em;
    object-fit: cover;
}

#descr-2 {
    height: 30em;
    padding: 20px;
}

#section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40em;
    padding: 30px
}

#img-3 {
    width: 50em;
    height: 40em;
    object-fit: cover;
}

#descr-3 {
    height: 30em;
    padding: 20px;
    text-align: right;
}

.section-header {
    font-size: 10rem;
}

.section-p {
    font-size: 2rem;
}


.space {
    width: 100vw;
    height: 15vh;
}

@media all and (max-width: 1024px) {
    #intro {
        width: 300px;
        font-size: 15px;
        top: 13em;
    }

    #section-1-img {
        width: 100%;
        height: 100%;
    }

    #section-2-img {
        width: 100vw;
        height: 100%;
    }

    #section-3-img {
        width: 100vw;
        height: 100%;
    }

    /* Lower Sections Styling */
    /* ---------------------------------------------- */
    #section-2 {
        height: 18em;
        padding: 20px
    }

    #img-2 {
        width: 12em;
        height: 12em;
    }

    #descr-2 {
        height: 18em;
        padding: 5px;
        padding-top: 2.5em;
    }

    #section-3 {
        height: 18em;
        padding: 20px
    }

    #img-3 {
        width: 12em;
        height: 12em;
        object-fit: cover;
    }

    #descr-3 {
        height: 18em;
        padding: 5px;
        padding-top: 2.5em;
    }

    .section-header {
        font-size: 3rem;
    }

    .section-p {
        font-size: 1rem;
    }

    .space {
        height: 1vh;
    }
}