@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Tangerine:wght@700&display=swap');


body {
    background: #F4EED4;
    height: 150vh;
}

.div_style {
    display: 'flex';
    align-items: center;
    justify-content: 'center';
    height: 80vh;
    object-fit: cover;
    margin: auto;
    width: 95vw;
    max-width: 95vw;

}

#home-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


#section-1 {
    z-index: 1;
}

#section-1-img {
    width: 98vw;
    height: 60vh;
    object-fit: cover;
    margin-bottom: 30px;

}

#intro {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-bottom: -43vh;
    margin-top: 20vh;
    z-index: 2;
    font-weight: bold;

}

#slide-container {
    width: 90vw;
    height: 40vh;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#section-2-img {
    width: 98vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 30px;
}

#section-2-header {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-bottom: -43vh;
    margin-top: 36vh;
    z-index: 2;
    font-weight: bold;

}

#section-3-img {
    width: 98vw;
    height: 80vh;
    object-fit: cover;
    margin-bottom: 30px;
    object-position: 10px 35%;
}

#section-3-header {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
    text-align: center;
    color: white;
    margin-bottom: -43vh;
    margin-top: 36vh;
    z-index: 2;
    font-weight: bold;
}