.slideButtons {
    width: 100px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    background: none;
    border: 0px;
}

.slide-img {
    width: 30vw;
    height: 70vh;
    object-fit: cover;
}

#section1 {
    width: 30vw;
    height: 60vh;
    margin: 50px;
}