body {
    font-family: 'Lato', sans-serif;
}

#services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-list li {
    font-size: 20px;
}

.services h1 {
    font-size: 50px;
}


.services-right {
    background: #b1b19f;
}

.services {
    display: flex;
    padding: 30px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightHeader {
    order: 3;
}

.service-img {
    object-fit: cover;
    width: 700px;
    height: 450px;
}

.service-list {
    width: 600px
}

#services-info-res {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70em;
}

#service-info-comercial {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70em;

}

@media all and (max-width:1600px) and (min-width:1024px) {
    .service-img {
        object-fit: cover;
        width: 25em;
        height: 20em;
    }

    #services-info-res {
        width: 50em;
    }

    #service-info-comercial {
        width: 50em;

    }

}

@media all and (max-width: 1024px) {
    .service-list li {
        font-size: 10px;
    }

    .services h1 {
        font-size: 20px;
    }


    #res-service-img {
        height: 8em;
        width: 16em;
    }

    #res-service {
        flex-direction: column;
    }

    #services-info-res {
        width: 100%;
        display: block;
    }

    #list-res {
        width: 20em;
    }

    #service-img-comercial {
        width: 10em;
        height: 20em;
        order: 1;
    }

    #service-comercial {
        display: flex;
        flex-direction: row !important;
        height: 25em;
    }

    #service-info-comercial {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 10em;
        order: 2;
    }

    #service-list-comercial {
        width: 10em;
        order: 2;
    }

    #rightHeader {
        order: 1;
    }

    #custom-img {
        width: 20em;
        height: 10em;
    }

    #services-custom {
        flex-direction: column;
        align-items: center;

    }

    #list-custom {
        width: 20em;
    }


}