#services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.services h1 {
    font-size: 40px;
}


.services-right {
    background-color: #cec399;
}

.services {
    display: flex;
    padding: 30px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#rightHeader {
    order: 3;
}

.service-img {
    object-fit: cover;
    width: 700px;
    height: 450px;
}

.service-list {
    width: 600px
}