body {
    font-family: 'Lato', sans-serif;
}

#services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.service-list li {
    font-size: 20px;
}

.services h1 {
    font-size: 50px;
}


.services-right {
    background: #b1b19f;
}

.services {
    display: flex;
    padding: 30px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rightHeader {
    order: 3;
}

.service-img {
    object-fit: cover;
    width: 700px;
    height: 450px;
}

.service-list {
    width: 600px
}

@media all and (max-width: 1024px) {
    .service-list li {
        font-size: 10px;
    }

    .services h1 {
        font-size: 20px;
    }

    .services {
        display: flex;
        padding: 30px;
        width: 100vw;
        height: 50vh;
        display: flex;
        justify-content: space-between;

    }

    .services-info {
        width: 10em;
    }

    .service-img {
        object-fit: cover;
        width: 10em;
        height: 10em;
    }

}